body {
  background: white;
  color: #444;
  font-family: "Lato", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a:link {
  color: #444;
  text-decoration: underline; }
a:visited {
  color: #222;
  text-decoration: underline; }
a.nounderline {
  text-decoration: none; }

ul.inline li {
  display: inline-block;
  vertical-align: top; }

#container {
  margin-top: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 767px) {
    #container {
      margin-top: 20px; } }
  #container #yield {
    margin-bottom: 30px; }

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1140px; }
  .inner .col {
    display: inline-block;
    margin-left: 270px; }
    .inner .col:first-child {
      margin-left: 0; }

#top {
  margin-top: 100px; }
  #top #hero {
    max-width: 350px; }
  #top h1 {
    font-size: 7em; }
  #top h2 {
    font-size: 4em;
    margin-bottom: 50px; }
  #top .social {
    margin-top: 100px; }
    #top .social ul li {
      margin-left: 30px; }
      #top .social ul li:first-child {
        margin-left: 0; }

#mid {
  background: #45aaf2;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  color: white;
  margin-top: 100px; }
  #mid .inner .col {
    width: 49%;
    margin-left: 0; }
    #mid .inner .col h2 {
      margin-top: 0;
      margin-bottom: 30px;
      color: white; }
    #mid .inner .col ul {
      padding-left: 25px; }
    #mid .inner .col ol {
      padding-left: 20px; }
    #mid .inner .col ol li, #mid .inner .col ul li {
      font-size: 1.9em; }

#more-info {
  margin-top: 100px; }
  #more-info .col {
    width: 50%; }
    #more-info .col h2 {
      margin-bottom: 30px; }
  #more-info p {
    font-size: 2em; }

footer#global-footer {
  margin-top: 50px; }
  footer#global-footer ul {
    text-align: center;
    font-size: .9em; }
    footer#global-footer ul li {
      margin-left: 5px;
      margin-right: 5px;
      vertical-align: top; }
      footer#global-footer ul li:first-child:before {
        content: ""; }
      footer#global-footer ul li a {
        text-decoration: none;
        vertical-align: top; }

.contact-methods li a {
  text-decoration: none; }
