$font: "Lato", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background: white;
  color: #444;
  font-family: $font;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
}

p {
  font-size: normal;
}

a {
  &:link {
    color: #444;
    text-decoration: underline;
  }
  &:visited {
    color: #222;
    text-decoration: underline;
  }
  &.nounderline {
    text-decoration: none;
  }
}

ul.inline {
  li {
    display:inline-block;
    vertical-align: top;
  }
}

#container {
  margin-top: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 767px) {
    margin-top: 20px;
  }

  #yield {
    margin-bottom: 30px;
  }
}

.inner {
  margin-left: auto;
  margin-right: auto;

  width: 1140px;

  .col {
    display: inline-block;
    vertical-align: top;
    //margin-left: 270px;

    &:first-child {
      padding-right: 50px;
    }
  }
}