footer#global-footer {
  margin-top: 50px;

  ul {
    text-align: center;
    font-size: .9em;

    li {
      margin-left: 5px;
      margin-right: 5px;
      vertical-align: top;

      &:before {
        //content: "• "
      }
      &:first-child:before {
        content: ""
      }

      a {
        text-decoration: none;
        vertical-align: top;
      }
    }
  }
}