header#global-header {
  float:right;

  ul {
    text-align: right;
    font-size: 1.4em;

    li {
      &:before {
        content: "• "
      }
      &:first-child:before {
        content: ""
      }

      a {
        text-decoration: none;
      }

    }
  }
}