#top {
  margin-top: 100px;

  #hero {
    max-width: 350px;
  }


  h1 {
    font-size: 7em;
  }
  h2 {
    font-size: 4em;
    margin-bottom: 50px;
  }

  .social {
    margin-top: 100px;

    ul {
      li {
        margin-left: 30px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
