#mid {
  background: #45aaf2;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  color: white;
  margin-top: 100px;

  .inner {
    .col {
      width: 49%;

      margin-left: 0;

      h2 {
        margin-top: 0;
        margin-bottom: 30px;
        color: white;
      }

      ul {
        padding-left: 25px;
      }
      ol {
        padding-left: 20px;
      }
      ol, ul {
        li {
          font-size: 1.9em;
        }
      }
    }
  }
}