<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="apple-itunes-app" content="app-id=590035109, affiliate-data=myAffiliateData, app-argument=https://itunes.apple.com/us/app/famish-jetlag-beating-fasting/id590035109?ls=1&mt=8">
        <!-- https://developer.apple.com/library/IOs/#documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html -->
        <meta name="description" content="An iOS app that helps you beat jet lag by fasting.">

        <title>The Best Way To Beat Jet Lag – Famish</title>

        <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/foundation.min.css">
        <link rel="stylesheet" href="stylesheets/application.css">
    </head>
    <body>

      {{ content }}

      <div id="container">

        <footer id="global-footer" class="twelve columns">
          <ul class="inline">
            <li>Made by <a href="http://viscera.la">Viscera</a></li>
            <li><a href="http://twitter.com/vscera">
              <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="40px" height="20px" viewBox="0 0 10.039 5.721" enable-background="new 0 0 10.039 5.721" xml:space="preserve">
<g>
  <path fill="#444" d="M8.083,3.454C7.772,4.234,6.848,5.721,4.39,5.721C1.08,5.721,0,3.274,0,3.274S1.511,4.018,3.106,3.43
    C1.787,2.878,1.487,1.164,2.159,1.811c0.528,0.504,1.727,0.54,2.543,0.492C4.786,2.207,4.87,2.099,4.953,1.991
    c0-0.024,0-0.036,0-0.06C4.953,0.864,5.817,0,6.884,0c1.031,0,1.859,0.792,1.931,1.799l1.223,0.587L8.587,2.854
    C8.467,3.083,8.288,3.286,8.083,3.454z M6.752,1.511c0,0.3,0.24,0.54,0.54,0.54c0.312,0,0.552-0.24,0.552-0.54
    c0-0.312-0.24-0.552-0.552-0.552C6.992,0.959,6.752,1.199,6.752,1.511z"/>
</g>
</svg>

            </a></li>
            <li><a href="https://www.dropbox.com/s/63xaanxjgifazrd/PressKit.zip">Download Press Kit</a></li>
          </ul>
        </footer>
      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="javascripts/application.js"></script>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37223367-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>
    </body>
</html>
